{% extends 'base.html' %}


{% block title %}
Account
{% endblock %}


{% block content %}
    {% if not user.is_authenticated %}
        {% include "alerts/not_authorized_error.html" %}
    {% else %}
        {% if email_success %}
            {% include "alerts/email_change.html" %}
        {% else %}
            {% if pass_reset %}
                {% include "activations/password_reset.html" %}
            {% else %}
                {% if delete_account %}
                    {% include "alerts/delete_account.html" %}
                {% else %}
                    {% include "account_impl.html" %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}