{% extends 'base.html' %}


{% block title %}
Account
{% endblock %}


{% block content %}
<div class="row justify-content-around my-auto py-auto">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <figure>
            <a href="/">
                {% load static %}
                <img src='{% static "img/logo5.png" %}' width="250">
            </a>
            <figcaption>
                <h3><em>WorkSpide - work meeting your needs</em></h3>
            </figcaption>
        </figure>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 my-auto search-option pt-1">
        <a href="/search/jobs" class="btn btn-link">
            <h3 style="color: black;">Find jobs</h3>
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 my-auto search-option pt-1">
        <a href="/search/workers" class="btn btn-link">
            <h3 style="color: black;">Find workers</h3>
        </a>
    </div>
</div>
</div>
<p>
    <a href="{% if user.is_authenticated %}/account/{% else %}/signup/login{% endif %}">
        <div class="custom-shadowed position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center rounded"
            style="background-color: #292826;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn btn-link">
                        <h3 class="text-center" style="color: #F9D342">
                            {% if user.is_authenticated %}
                            Go to your account
                            {% else %}
                            Login
                            {% endif %}
                        </h3>
                    </button>
                </div>
            </div>
        </div>
    </a>
</p>
{% endblock %}