<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Project specific styles -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Search</title>
    <style>
        .page-link {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;

            color: #f9d342;
            background-color: #292826;
            border-color: black;
        }

        .page-item.disabled .page-link {
            pointer-events: none;
            cursor: auto;

            background-color: gray;
            color: #292826;
            border-color: black;
        }

        .page-item.active .page-link {
            z-index: 1;

            color: #292826;
            background-color: white;
        }

        .page-link:focus,
        .page-link:hover {
            text-decoration: none;
            border-color: darkcyan;
            background-color: #f9d342;
        }

        .custom-spinning-image {
            -webkit-animation:spin 1s linear infinite;
            -moz-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
        
    </style>
</head>

<body>
    <div class="container">
        <nav class="custom-shadowed navbar navbar-expand-md navbar-dark bg-dark rounded-bottom">
            <form class="form-inline my-2 my-md-0 p-3" style="width: 65%;">
                <input class="form-control" id="search-bar" onkeypress="handleEnterKey(event)" autofocus type="text"
                    style="width: 100%;">
            </form>

            <a href="/">
                {% load static %}
                <img id="small-logo" src="{% static "img/logo5.png" %}" width="60" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                {% if request.user.not_read %}
                <span class="badge badge-pill badge-warning"> {{ request.user.not_read }}</span>
                {% endif %}
            </button>

            <div class="collapse navbar-collapse mr-auto" id="main-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mr-auto">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mr-auto">
                        <a class="nav-link" href="/account/">Account</a>
                    </li>
                    <li class="nav-item mr-auto">

                        <a class="nav-link" href="/feed/">
                            Feed
                            {% if request.user.not_read %}
                            <span class="badge badge-pill badge-warning"> {{ request.user.not_read }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary significant-button ml-auto" data-toggle="modal"
                data-target="#popup-filters" style="border-color: #292826;">
                Filters
            </button>

            <div class="custom-shadowed modal fade" id="popup-filters" tabindex="-1" role="dialog"
                aria-labelledby="popup-filters-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="background-color: #292826;">
                            <div class="container significant-info text-center">
                                <p>
                                    <h3 class="text-center mt-5 operation-title">Filters</h3>
                                </p>
                                <div class="container mb-3 rounded connect-options py-3 mx-auto text-left"
                                    style="background-color: rgb(173, 173, 173); color: #292826;">
                                    {% load widget_tweaks %}
                                    <form method="post" class="form">
                                        {% csrf_token %}
                                        <div class="container">
                                            <div class="row text-center">
                                                Salary from and to
                                                <div class="row">
                                                    {{ form.salary_from|add_class:"form-control" }}
                                                    <div class="col mt-1">
                                                        {{ form.salary_to|add_class:"form-control" }}
                                                    </div>
                                                </div>

                                                <div class="form-check">
                                                    {{ form.without_salary|add_class:"form-check-input" }}
                                                    <label class="form-check-label" for="id_without_salary">
                                                        Without salary
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                Experience from and to
                                                {{ form.experience_from|add_class:"form-control" }}
                                                {{ form.experience_to|add_class:"form-control mt-1" }}
                                                {{ form.experience_type|add_class:"custom-select mt-1" }}
                                                <div class="form-check">
                                                    {{ form.without_experience|add_class:"form-check-input" }}
                                                    <label class="form-check-label" for="id_without_experience">
                                                        Without experience
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row mt-4">
                                                City
                                                {{ form.city|add_class:"form-control" }}
                                                Order by
                                                {{ form.order_by|add_class:"custom-select" }}
                                            </div>
                                            <input type="submit" value="Apply" name="filter_btn" onclick="startSpinning()"
                                                class="btn btn-primary significant-button mx-auto my-3" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <p>
            <div class="custom-shadowed position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center rounded"
                style="background-color: rgb(201, 167, 58);">
                <div class="container mb-5">
                    <div class="small-logo img-link">
                        <a href="/">
                            <img src='{% static "img/logo5.png" %}' width="64" />
                        </a>
                        <strong><em>WorkSpide - work meeting your needs</em></strong>
                    </div>
                </div>
                {% if form.errors %}
                    <h3>
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </h3>
                {% else %}

                    {% for ad in search_results %}
                        {% include "ads/ad_search_panel.html" %}
                    {% empty %}
                    <div class="container custom-shadowed rounded text-center"
                        style="background-color:#292826; color: rgb(201, 167, 58); position: relative; top: 20px; margin-bottom: 100px; padding: 30px">
                        <h1>
                            {% block alert %}
                            <h4>
                                Try searching, it is empty here for now
                            </h4>
                            {% endblock %}
                        </h1>
                    </div>
                    {% endfor %}

                    {% if search_results.has_other_pages %}
                        {% load proper_paginate %}
                        {% load url_replace %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center search-pagination-list">
                                {% if search_results.number == 1 %}
                                    <li class="page-item disabled"><span class="page-link">⇤</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' 1 %}">⇤</a></li>
                                {% endif %}
                                {% if search_results.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' search_results.previous_page_number %}">&laquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                {% endif %}

                                {% for i in search_results.paginator|proper_paginate:search_results.number %}
                                    {% if search_results.number == i %}
                                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if search_results.has_next %}    
                                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' search_results.next_page_number %}">&raquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                {% endif %} 
                                {% if search_results.number == search_results.paginator.num_pages %}
                                    <li class="page-item disabled"><span class="page-link">⇥</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' search_results.paginator.num_pages %}">⇥</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                {% endif %}
            </div>
        </p>
    </div>

    <footer class="page-footer font-small teal pt-4 after-all-page container-fluid">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <p><a href="https://github.com/B1Z0N/">Fedurko Nikolaus</a> © 2019</p>
        </div>
        <!-- Copyright -->

    </footer>

    <script>

        let freezeClic = false; // just modify that variable to disable all clics events

        document.addEventListener("click", freezeClicFn, true);

        function freezeClicFn(e) {
            if (freezeClic) {
                e.stopPropagation();
                e.preventDefault();
            }
        }

        smallLogo =  document.getElementById('small-logo')

        var startSpinning = () => {
           smallLogo.classList += "custom-spinning-image"
           freezeClic = true
        }

        var stopSpinning = () => {
            smallLogo.classList = ''
            freezeClic = false
        }

        var searchType = "{{ search_type }}"
        var searchText = "{{ search_text }}"

        var searchBar = document.getElementById("search-bar")
        var salaryFromText = document.getElementById("id_salary_from_0")
        var salaryFromSelect = document.getElementById("id_salary_from_1")
        window.onload = () => {

            if (searchType == null) {
                searchBar.placeholder = "Search jobs"
            } else {
                searchBar.placeholder = "Search " + searchType
                if (searchText != '')
                    searchBar.setAttribute("value", searchText)
            }
            {% if salary_from is not None %}
            salaryFromSelect.value = '{{ salary_from.currency }}'
            {% if salary_from.amount != 0 %}
            salaryFromText.value = '{{ salary_from.amount }}'
            {% endif %}
            {% endif %}
            // alert('{{ salary_from.amount }}')
        }

        handleEnterKey = (e) => {
            if (e.keyCode === 13) {
                e.preventDefault() // Ensure it is only this code that runs
                
                startSpinning()

                searchText = searchBar.value
                currentLink = window.location.href
                if (searchText === '') searchText = 'None'
                searchLink = currentLink.replace(/text_[^\/]*/, 'text_' + searchText)
                window.location.replace(searchLink)
            }
        }
    </script>
</body>

</html>