{% extends "base.html" %}

{% block title %}
    Feed
{% endblock%}

{% block style %}
    a, a:hover {
        color: gray; 
        font-style: italic;
    }
{% endblock %}

{% block content %}
    {% for pide, color in pides %}
        {% if pide.state != "rejected" or pide.uid_from == request.user %}
            {% if pide.state == "pending" and request.user == pide.ad_to.uid %}
                    {% include "deals/feed_panel.html" %}
                </a>
            {% else %}
                {% include "deals/feed_panel.html" %}
            {% endif %}
        {% endif %}
    {% empty %}
        <div class="container custom-shadowed rounded p-5 m-5 text-center mx-auto"
        style="background-color:#292826; color: rgb(201, 167, 58);">
            <h1>
                {% block alert %}
                <h1>
                    Seems like it is empty here, you could try 
                    piding some resume or vacancy, or just wait 
                    till someone pides yours=)
                </h1>
                {% endblock %}
            </h1>
        </div>
    {% endfor %}
{% endblock %}
