{% extends "base.html" %}

{% block title %}
    Feed
{% endblock%}

{% block style %}
    a, a:hover {
        color: gray; 
        font-style: italic;
    }
{% endblock %}

{% block content %}
    {% for pide, color in pides %}
        {% if pide.state != "rejected" or pide.uid_from == request.user %}
            {% if pide.state == "pending" and request.user == pide.ad_to.uid %}
                    {% include "deals/feed_panel.html" %}
                </a>
            {% else %}
                {% include "deals/feed_panel.html" %}
            {% endif %}
        {% endif %}
    {% empty %}
        <div class="container custom-shadowed rounded p-5 m-5 text-center mx-auto"
        style="background-color: gray; position: relative; top: 20px; margin-bottom: 100px; padding: 30px">
                {% block alert %}
		<h3>
                    Hello from your feed, this is the place where all your pides(deals)
                    will take place. Seems like it is empty here, you could try 
                    piding(making a deal) some resume or vacancy, or just wait 
                    till someone pides yours=)
		</h3>
		{% endblock %}
        </div>
    {% endfor %}
{% endblock %}
