{% extends "base.html" %}

{% block style %}
    .html-inject {
        overflow-x: auto;
        white-space: nowrap;
    }

    div {
        word-wrap:break-word
    }
{% endblock %}

{% block content %}

        {% if pide.ad_from %}
            <h1><em>Pide from</em></h1>
            {% include "ads/ad_panel_base.html" with ad=pide.ad_from %}
            <h1><em>To your</em></h1>
        {% else %}
            <h1><em>Pide to your</em></h1>
        {% endif %}
        {% include "ads/ad_panel_base.html" with ad=pide.ad_to %}

        {% if pide.comment %}
        <div class="container custom-shadowed rounded p-5 m-5 text-left mx-auto eye-light-context">
            <h3><em>Comment</em></h3>
            {% load widget_tweaks %}
                <div class="html-inject">
                    {{ pide.comment|safe }}
                </div>
        </div>
        {% endif %}
        <form class="form" method="post"  onsubmit="startBigSpinning()">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <input type="submit" name="accept_btn" value="Accept"
                        class="btn btn-primary mx-auto my-3 btn-lg significant-button" />
                </div>
                <div class="col-6">
                    <input type="submit" name="reject_btn" value="Reject"
                        class="btn btn-danger mx-auto my-3 btn-lg significant-button" />
                </div>
            </div>
        </form>
{% endblock %}