
@font-face { font-family: Moon; src: 'fonts/MOON 2.0 FREE/Moon2.0-Regular.otf'; } 
@font-face { font-family: Moon; font-weight: bold; src: 'fonts/MOON 2.0 FREE/Moon2.0-Bold.otf'; } 
@font-face { font-family: Moon; font-weight: lighter; src: 'fonts/MOON 2.0 FREE/Moon2.0-Light.otf'; } 

body {
  font-family: Moon;
}

.after-all-page {
  top: 100%;
}
.significant-info {
  color: #f9d342;
}
.significant-button {
  background-color: rgb(201, 167, 58);
  border-color: #f9d342;
  color: #292826;
  border-color: #292826;
}

.custom-shadowed {
    -moz-box-shadow: 0 0 15px rgb(0, 0, 75);
    -webkit-box-shadow: 0 0 15px rgb(0, 0, 75);
    box-shadow: 0 0 15px rgb(0, 0, 75);
}

.small-logo {
  position: absolute;

  left: 10px;
  top: 10px;
}

div.small-logo a, 
div.small-logo a:hover, div.small-logo a:visited {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
