.after-all-page {
  top: 100%;
}

.significant-info {
  color: rgb(91, 82, 147);
}

.significant-button {
  color: rgb(131, 124, 176);
  background-color: rgb(91, 82, 147);
  border-color: #292826;
  color: #292826;
}

.custom-shadowed {
  -moz-box-shadow: 0 0 15px rgb(0, 0, 75);
  -webkit-box-shadow: 0 0 15px rgb(0, 0, 75);
  box-shadow: 0 0 15px rgb(0, 0, 75);
}

.small-logo {
  position: absolute;

  left: 10px;
  top: 10px;
}

div.img-link a,
div.img-link a:hover,
div.img-link a:visited {
  border: none;
  outline: none;
  text-decoration: none;
  color: inherit;
}

.after-small-logo {
  padding-top: 40px;
}

.mainbg {
  background-color: rgb(59, 49, 118);
  color: rgb(131, 124, 176);
}

.mainbg a,
.mainbg a:hover,
.mainbg a:visited {
  color: rgb(131, 124, 176);
}

.secondarybg {
  background-color: rgb(33, 24, 89);
  color: rgb(131, 124, 176);
}

.secondarybg a,
.secondarybg a:hover,
.secondarybg a:visited {
  color: rgb(131, 124, 176);
}

.ordinary-text {
  color: rgb(131, 124, 176);
}

.eye-catching {
  background-color: rgb(15, 8, 60);
  color: rgb(131, 124, 176);
}

.custom-spinning-image-faster {
  -webkit-animation:spin 2s linear infinite;
  -moz-animation:spin 2s linear infinite;
  animation:spin 2s linear infinite;
}

.centered-big-logo {
  height: 200px;
  width: 200px;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}


.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;

  color: #f9d342;
  background-color: #292826;
  border-color: black;
}

.page-item.disabled .page-link {
  pointer-events: none;
  cursor: auto;

  background-color: gray;
  color: #292826;
  border-color: black;
}

.page-item.active .page-link {
  z-index: 1;

  color: #292826;
  background-color: white;
}

.page-link:focus,
.page-link:hover {
  text-decoration: none;
  border-color: darkcyan;
  background-color: #f9d342;
}

.custom-spinning-image {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.ordinary-badge {
  background-color: rgb(131, 124, 176);
  color: black;
}

.eye-light-context {
  background-color: rgb(173, 173, 173);
  color: black;
}

.eye-dark-context {
  background-color: #292826;
  color: rgb(131, 124, 176);
}
