{% extends 'base.html' %}


{% block title %}
Login
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
{% include "alerts/already_authorized.html" %}
{% else %}
<div class="row justify-content-around py-auto after-small-logo">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 rounded logging-in custom-shadowed"
        style="background-color: #292826;">
        <div class="container significant-info">
            <p>
                <h3 class="text-center mt-5 operation-title">Login</h3>
            </p>
            <form class="form" method="post">
                {% load widget_tweaks %}
                {% csrf_token %}
                <div class="form-group text-center mt-4 justify-content-around" id="user-data">
                    {{ form.username|add_class:"form-control mt-4"|attr:"placeholder:Email" }}
                    {{ form.password|add_class:"form-control mt-4"|attr:"placeholder:Password" }}
                    <input value="Submit" type="submit" class="btn btn-primary mt-4 significant-button" />
                    {% if form.errors %}
                    {{ form.non_field_errors }}
                    <ul>
                        {% for field in form %}
                        {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </form>
            <div class="container my-5 mx-auto">
                <a href="/account/password_reset/" style="color: aqua;">Forgot password?</a>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap align-content-center p-3 second-option my-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 rounded custom-shadowed"
        style="background-color: #292826;">
        <!-- <div class="col-12 m-3 mx-auto rounded connect-options img-link" style="background-color: rgb(173, 173, 173);">
            <h3>Connect with: </h3>
            <a href="#">
                {% load static %}
                <img class="m-3" src='{% static "img/github_logo.svg" %}' width=64>
            </a>
            <a href="#">
                {% load static %}
                <img class="m-3" src='{% static "img/google_logo.png" %}' width=64>
            </a>
        </div> -->
        <div class="container my-auto">
            <h3 class="significant-info">Or</h3>
        </div>
        <div class="container m-3">
            <a href="/signup/register/">
                <button type="button" class="mx-auto btn btn-primary significant-button second-option"
                    style="border-color: #292826; color: #292826;">
                    <h1 class="operation-title">Register</h1>
                    <span class="badge badge-default user-note">(for new users)</span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}