{% extends "alerts/render_base.html" %}

{% block title %}Password reset{% endblock %}

{% block alert %}
    {% if validlink %}
        <h1>
            Set new password
        </h1>
        {% load widget_tweaks %}
        <form method="POST">
            {% csrf_token %}
            {{ form.new_password1|add_class:"form-control mt-3"|attr:"placeholder:New password" }}
            {{ form.new_password2|add_class:"form-control mt-3"|attr:"placeholder:Repeat new password" }}
            <input value="Change pasword" type="submit"
                class="btn btn-primary m-3 mx-3 btn-lg significant-button" />
                {% if form.errors %}
                {{ form.non_field_errors }}
                <ul>
                    {% for field in form %}
                    {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
        </p>
    {% endif %}
{% endblock %}