{% extends 'base.html' %}


{% block title %}
Register
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
    {% include "alerts/already_authorized.html" %}
{% else %}
    <div class="row justify-content-around py-auto after-small-logo">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 rounded logging-in custom-shadowed eye-catching">
            <div class="container">
                <p>
                    <h3 class="text-center mt-5 operation-title">Register</h3>
                </p>
                <form class="form" method="post" onsubmit="startSpinning();">
                    {% load widget_tweaks %}
                    <div class="form-group text-center mt-4 justify-content-around" id="user-data">
                        {% csrf_token %}
                        <!-- {{ form.non_field_errors }} -->
                        {{ form.email|add_class:"form-control mt-4"|attr:"placeholder:Email" }}
                        {{ form.password1|add_class:"form-control mt-4"|attr:"placeholder:Password" }}
                        {{ form.password2|add_class:"form-control mt-4"|attr:"placeholder:Repeat password" }}
                        <input value="Submit" type="submit" class="btn btn-primary mt-4 mb-5 significant-button" />
                        {% if form.errors %}
                        {{ form.non_field_errors }}
                        <ul>
                            {% for field in form %}
                            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="d-flex flex-wrap align-content-center p-3 second-option my-3 col-lg-4 col-md-12 col-sm-12 col-xs-12 rounded custom-shadowed eye-catching">

            <div class="container my-auto">
                <h3 class="significant-info">Or</h3>
            </div>
            <div class="container m-3">
                <a href="/signup/login/">
                    <button type="button" class="mx-auto btn btn-primary significant-button second-option">
                        <h1 class="operation-title">Login</h1>
                        <span class="badge badge-default user-note">(for registered users)</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}