{% extends 'ads/ad_view.html' %}

{% block footer %}
<a href="/pide/{{ ad.id }}" style="color: rgb(201, 167, 58);text-decoration: none;">
    <div class="container custom-shadowed rounded my-3 mx-auto p-3"
        style="background-color:#292826; color: rgb(201, 167, 58);">
        <h1>
            <p>
                <span class="badge badge-pill badge-warning "><em>Pide it</em></span>
            </p>
        </h1>
        <h3>
                (if you like this {{ ad.ad_type }})
        </h3>
    </div>
</a>
{% endblock %}