<a href="/show_ad/{{ ad.id }}" style="text-decoration: none;">
    <div class="container custom-shadowed rounded my-3 mx-auto p-3 eye-dark-context">
            <h3>{{ ad.title }} <span class="badge badge-pill ordinary-badge">{{ ad.city }}</span></h3>
        <p>
            {% if ad.salary %}
            Salary: {{ ad.salary }}.
            {% endif %}
            {% if ad.experience %}
            Experience: {{ ad.experience }} {{ ad.experience_type }}.
            {% endif %}
        </p>
        {% block manage %}
        {% endblock %}
    </div>
</a>