{% extends "ads/ad_panel_base.html" %}

{% block manage %}
<div class="row justify-content-center">
    <div class="col col-lg-1 col-md-1">
        <a href="/account/edit_{{ ad.ad_type }}/{{ ad.id }}/">
            <button class="btn btn-primary mx-auto my-3 btn-sm significant-button">
                Edit
            </button>
        </a>
    </div>
    <div class="col col-lg-1 col-md-1">
        <a href="/account/delete_ad/{{ ad.id }}/">
            <button class="btn btn-danger mx-auto my-3 btn-sm significant-button">
                Delete
            </button>
        </a>
    </div>
</div>
{% endblock %}