<a href="/show_ad/{{ ad.id }}" style="text-decoration: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="container custom-shadowed rounded my-3 mx-auto p-3 eye-dark-context">
                        <h3>{{ ad.title }} <span class="badge badge-pill ordinary-badge">{{ ad.city }}</span></h3>
                    <p>
                        {% if ad.salary %}
                        Salary: {{ ad.salary }}.
                        {% endif %}
                        {% if ad.experience %}
                        Experience: {{ ad.experience }} {{ ad.experience_type }}.
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="container custom-shadowed rounded my-3 mx-auto p-3 eye-dark-context">
                    {{ ad.pub_dtime }}
                </div>
            </div>
        </div>
    </div>
</a>

<script>
    $("#tooltip{{ ad.id }}").tooltip({ html: true });
</script>