{% extends "base.html" %}


{% block title %}
{{ ad.title }}
{% endblock %}

{% block style %}
    .html-inject {
        overflow-x: auto;
        white-space: nowrap;
    }

    div {
        word-wrap:break-word
    }
{% endblock %}

{% block content %}
<div class="mt-5">
<p>
    {% include "ads/ad_panel_base.html" %}
</p>
</div>

{% if description %}
<div class="container custom-shadowed rounded p-5 m-5 text-left mx-auto"
    style="background-color:rgb(173, 173, 173); color: #292826;">
    <h3><em>Description</em></h3>
    {% load widget_tweaks %}
        <div class="html-inject">
            {{ description|safe }}
        </div>
</div>
{% endif %}

{% if skills %}
<div class="container custom-shadowed rounded p-5 m-5 text-left mx-auto"
    style="background-color:#292826; color: rgb(201, 167, 58);">
    <h3><em>Skills</em></h3>
    {% for skill in skills %}
    <div class="col-12 mb-3 p-3 rounded connect-options" style="color: #292826;background-color: rgb(173, 173, 173);">
            {{skill.text}}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if resps %}
<div class="container custom-shadowed rounded p-5 m-5 text-left mx-auto"
    style="background-color:#292826; color: rgb(201, 167, 58);">
    <h3><em>Responsibilties</em></h3>
    {% for resp in resps %}
    <div class="col-12 mb-3 p-3 rounded connect-options" style="color: #292826;background-color: rgb(173, 173, 173);">
            {{resp.text}}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if projects %}
<div class="container custom-shadowed rounded p-5 m-5 text-left mx-auto"
    style="background-color:#292826; color: rgb(201, 167, 58);">
    <h3><em>Projects</em></h3>
    {% for project in projects %}
    <div class="col-12 mb-3 p-3 rounded connect-options" style="color: #292826;background-color: rgb(173, 173, 173);">
            {{project.text}}(<a href="{{project.link}}">link</a>)
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="container custom-shadowed rounded p-5 m-5 text-left mx-auto"
style="background-color:rgb(173, 173, 173); color: #292826;">
    <h3><em>
        {% if name %}
            Posted by {{ name }} at {{ ad.pub_dtime }}
        {% else %}
            Posted at {{ ad.pub_dtime }}
        {% endif %}
    </em></h3>
</div>

{% block footer %}
{% endblock%}

{% endblock %}