{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<div class="container mt-5 p-3 rounded connect-options" style="background-color: #292826; color: #F9D342;">
    <h1><em>{{ title }}</em></h1>


    <form id="general-form" class="form" method="post" onsubmit="startBigSpinning()">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.title|add_class:"form-control mt-4" }}
        </div>
        <div class="mb-3">
            {{ form.city|add_class:"form-control mt-4"|attr:"placeholder:City of yours" }}
        </div>
        <div class="my-3">
            {{ form.text|safe }}
        </div>

        <h1><em>Additional data</em></h1>

        <div class="row my-3">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form.salary|add_class:"form-control" }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="col mt-1">
                    {{ form.experience|add_class:"form-control" }}
                </div>
                <div class="col mt-1">
                    {{ form.experience_type|add_class:"custom-select" }}
                </div>
            </div>
        </div>

        <h1><em>Skills</em></h1>
        <div id="skill_list">
        </div>

        <input id="skill_text" type="text" maxlength="50" placeholder="Skill description" class="form-control mt-4" />
        <div class="row">
            <div class="col">
                <input type="button" name="add_skill_btn" onclick="pushSkill()" value="Add"
                    class="btn btn-primary mx-auto my-3 significant-button" />
            </div>
            <div class="col">
                <input type="button" name="remove_skill_btn" onclick="popSkill()" value="Remove"
                    class="btn btn-danger mx-auto my-3 significant-button" />
            </div>
        </div>


        {% if vacancy %}
        <h1><em>Responsiblities</em></h1>
        <div id="resp_list">
        </div>

        {% csrf_token %}
        <input id="resp_text" type="text" maxlength="50" placeholder="Responsibility text" class="form-control mt-4" />
        <div class="row">
            <div class="col">
                <input type="button" name="add_resp_btn" onclick="pushResp()" value="Add"
                    class="btn btn-primary mx-auto my-3 significant-button" />
            </div>
            <div class="col">
                <input type="button" name="remove_resp_btn" onclick="popResp()" value="Remove"
                    class="btn btn-danger mx-auto my-3 significant-button" />
            </div>
        </div>
        {% endif %}

        {% if resume %}
        <h1><em>Projects</em></h1>
        <div id="project_list">
        </div>

        {% csrf_token %}
        <input id="project_text" type="text" maxlength="50" placeholder="Project description"
            class="form-control mt-4" />
        <input id="project_link" type="url" maxlength="50" placeholder="Link to your project"
            class="form-control mt-4" />
        <div class="row">
            <div class="col">
                <input type="button" name="add_project_btn" onclick="pushProject()" value="Add"
                    class="btn btn-primary mx-auto my-3 significant-button" />
            </div>
            <div class="col">
                <input type="button" name="remove_project_btn" onclick="popProject()" value="Remove"
                    class="btn btn-danger mx-auto my-3 significant-button" />
            </div>
        </div>
        {% endif %}

        <input id="general-submit-btn" name="submit_button" value="Submit" type="submit"
            class="btn btn-primary mt-3 mb-3" />
    </form>
</div>
<script>
    var titleField = document.getElementById('id_title')
    var salaryField = document.getElementById('id_salary_0')
    var experienceField = document.getElementById('id_experience')
    
    currencySelect = document.getElementById('id_salary_1')

    window.onload = () => {
        titleField.placeholder = '{% if vacancy %}Your vacancy title{% else %}Your resume title{% endif %}'
        salaryField.placeholder = '{% if vacancy %}Future employee`s salary{% else %}Expected salary{% endif %}'
        experienceField.placeholder = '{% if vacancy %}Expected experience{% else %}Your experience{% endif %}'

        {% if currency %}
            currencySelect.value = '{{ currency }}'
        {% else %}
            currencySelect.value = 'USD'
        {% endif %}
        {% block onload %}
        {% endblock %}
    }

    skills = []
    responsibilities = []
    projects = []

    var createPanelElement = (variable, name) => {
        elem = document.createElement("input")
        elem.className = 'form-control mt-4'
        elem.type = 'text'
        elem.maxLength = 50
        elem.value = variable
        elem.name = name

        return elem
    }

    var pushSkill = () => {
        skill = document.getElementById("skill_text")
        if (!skill.value) return;
        skill_list = document.getElementById("skill_list")
        skills.push(skill.value)
        skill_list.appendChild(createPanelElement(skill.value, "skill" + skills.length.toString()))
        skill.value = ''
        skill.focus()
    }

    var popSkill = () => {
        skills.pop()
        skill_list = document.getElementById("skill_list")
        if (skill_list.lastChild) skill_list.lastChild.remove()
    }

    var validURL = (str) => {
        var pattern = new RegExp('^(https?:\\/\\/)' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return !!pattern.test(str);
    }

    var createTwoPanelElements = (value1, name1, value2, name2) => {
        container = document.createElement("div")
        container.innerHTML = `\
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input class="form-control mt-4" type="text" maxLength="50" name="${name1}" value="${value1}"/>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input class="form-control mt-4" type="text" maxLength="50" name="${name2}" value="${value2}"/>
                </div>
            </div>
        `

        return container
    }

    var pushProject = () => {
        project_text = document.getElementById("project_text")
        if (!project_text.value) return;
        project_link = document.getElementById("project_link")
        if (project_link.value && !validURL(project_link.value)) {
            project_text.value = ''
            project_link.value = ''
            alert("Invalid link. Must start with 'http' or 'https'")
            project_text.focus()
            return;
        }
        projects.push({
            'text': project_text.value,
            'link': project_link.value,
        })

        project_list.appendChild(
            createTwoPanelElements(
                project_text.value, "project_text" + projects.length.toString(),
                project_link.value, "project_link" + projects.length.toString(),
            )
        )
        project_text.value = project_link.value = ''
        project_text.focus()
    }

    var popProject = () => {
        projects.pop()
        project_list = document.getElementById("project_list")
        if (project_list.lastChild) project_list.lastChild.remove()
    }

    var pushResp = () => {
        resp = document.getElementById("resp_text")
        if (!resp.value) return;
        resp_list = document.getElementById("resp_list")
        responsibilities.push(resp.value)
        resp_list.appendChild(createPanelElement(resp.value, "resp" + responsibilities.length.toString()))
        resp.value = ''
        resp.focus()
    }

    var popResp = () => {
        responsibilities.pop()
        resp_list = document.getElementById("resp_list")
        if (resp_list.lastChild) resp_list.lastChild.remove()
    }

    window.onkeydown = (event) => {
        return event.key != "Enter";
    };

    document.getElementById("skill_text")
        .addEventListener("keyup", (event) => {
            event.preventDefault();
            if (event.keyCode === 13) {
                pushSkill()
            }
        })
    {% if resume %}
    document.getElementById("project_text")
        .addEventListener("keyup", (event) => {
            event.preventDefault();
            if (event.keyCode === 13) {
                document.getElementById("project_link").focus()
            }
        })
    document.getElementById("project_link")
        .addEventListener("keyup", (event) => {
            event.preventDefault();
            if (event.keyCode === 13) {
                pushProject()
            }
        })
    {% else %}
    document.getElementById("resp_text")
        .addEventListener("keyup", (event) => {
            event.preventDefault();
            if (event.keyCode === 13) {
                pushResp()
            }
        });
    {% endif %}
</script>
{% endblock %}