{% extends "alerts/render_base.html" %}

{% block title %}
Password change
{% endblock %}

{% block alert %}
<h1>
    <form class="form" method="post" style="font-size: 30px;">
        {% load widget_tweaks %}
        {% csrf_token %}
        <div class="form-group text-center mt-4 justify-content-around" id="user-data">
            {{ form.old_password|add_class:"form-control mt-3"|attr:"placeholder:Old password" }}
            {{ form.new_password1|add_class:"form-control mt-3"|attr:"placeholder:New password" }}
            {{ form.new_password2|add_class:"form-control mt-3"|attr:"placeholder:Repeat new password" }}
            <input name="change_password_btn" value="Change" type="submit"
                class="btn btn-primary m-3 btn-lg significant-button mx-3" />
            {% if form.errors %}
            {{ form.non_field_errors }}
            <ul>
                {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </form>
    <a href="/signup/password_reset/">
        <input name="reset_password_btn" value="Forgot password?" type="submit"
            class="btn btn-primary m-3 mx-3 btn-lg significant-button" />
    </a>
</h1>
{% endblock %}